html, body {
  font-family : 'Open Sans';
}

.login-controls {
  position : absolute;

  top : 10px;
  left : 10px;

  padding : 0.2em;

  border : 1px solid black;

  * {
    display : inline;
    border-right : 2px solid gray;
    &:last-child {
      border-right : 0;
    }
  }

  #signup {
    background-color : #7a7cff;
    color : white;
  }
}

.container {

  margin-top : 20vh;

  * {
    text-align : center;
  } 

  h1 {
    font-size : 5em;
    padding : 0;
  }

  h2 {
    font-size : 3em;
    padding : 0;
    font-weight : lighter;
  }

  .search-container {
    * {
      display : inline;
    }

    input {
      &:hover {
        border : 0.5em solid gray;
      }

      margin-left : 0.5em;
    }
  }
}

.hidden-search-results {
  display : hidden;
  
}