.comment {
  display: flex;
  flex-direction: column;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 1rem;
	box-sizing: border-box;
	background-color: #FFF;
	margin-bottom: 1rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.comment_content {
	
}

.comment_info {
  display: flex;
  flex-direction: row;
}

.comment:hover{
	box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22);
}

.comment_date {
  margin-top: auto;
  font-size: 0.9rem;
}

.comment_author {
	font-size: 0.9rem;
	margin-bottom: 0.75rem;
	color: rgba(0, 0, 0, 0.5);
}

.comment_title {
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.comment_replies {
	font-size: 0.9rem;
	cursor: pointer;
}

.comment_replies:hover {
	text-decoration: underline;
}

.comment_summary {
	display: flex;
	flex-direction: column;
	flex-basis: 1;
	flex-grow: 1;
}

.comment_stats {
	display: flex;
	flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
	text-align: right;
}

.comment_likes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.comment_like {
  margin-right: 0.5rem;
  box-sizing: border-box;
}
